/************/
/* <Navbar> */
/************/

.navbar-title {
  color: #455D79;
  font-size: 25px;
}

sup {
  color:#EE6E51;
  font-size: 50%;
}

/***************/
/* <Bins list> */
/***************/

table {
  text-align: center;
}



