* {
    margin: 0;
    padding: 0;
}

/************/
/* <Navbar> */
/************/

.navbar-title {
  color: #455D79;
  font-size: 25px;
}

sub {
  color:white;
  background-color: #EE6E51;
  padding: 2px;
  font-size: 0.6em !important;
  font-weight: 600;
}

/***************/
/* <Bins list> */
/***************/

table {
  text-align: center;
}

/**************/
/* <Bins map> */
/**************/

.leaflet-container {
  min-height: calc(100vh - 90px);
  width: 100%;
  margin: 0 auto;
  position: fixed;
  border-radius: 2%
}



