/************/
/* <Navbar> */
/************/

.navbar-title {
  color: #455D79;
  font-size: 25px;
}

sup {
  color:#EE6E51;
  font-size: 50%;
}

/***************/
/* <Bins list> */
/***************/

table {
  text-align: center;
}

/**************/
/* <Bins map> */
/**************/

.leaflet-container {
  height: 400px;
  width: 80%;
  margin: 0 auto;
}



